@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "PTSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "PTSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #2C2C2C;
  font-size: 15px;
  font-family: "PTSans";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.select {
  position: relative;
  margin: 0 auto 15px;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  font-size: 21px;
  border-radius: 4px;
}

.select__value {
  position: relative;
  z-index: 8;
  font-size: 21px;
  height: 48px;
  color: #c0c0c0;
  padding: 12px 30px 9px 40px;
  background: #f7f7f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #dedede;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 47px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  font-size: 19px;
  line-height: 32px;
  font-weight: normal;
  color: #999999;
  text-align: left;
  background: #f7f7f7;
  border-top: 0;
  border: 2px solid #008851;
  border-top: 0;
  padding: 5px 20px 5px 40px;
}

.select__option {
  cursor: pointer;
  margin: 0px 0px 0px 0px;
}

.select__option:hover {
  color: #008851;
}

.select._active {
  z-index: 5;
}

.select._active .select__value {
  border: 2px solid #008851;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  display: block;
  width: 100%;
  display: block;
  padding: 9px 20px 9px 40px;
  text-align: left;
  height: 48px;
  font-size: 21px;
  color: #c0c0c0;
  line-height: 30px;
  font-weight: 400;
  margin: 0 auto 15px;
  background: #f7f7f7;
  border: 2px solid #dedede;
}

.input._focus {
  border: 2px solid #008851;
}

.input::-webkit-input-placeholder {
  font-family: "PTSans";
}

.input::-moz-placeholder {
  font-family: "PTSans";
}

.input:-ms-input-placeholder {
  font-family: "PTSans";
}

.input::-ms-input-placeholder {
  font-family: "PTSans";
}

.input::placeholder {
  font-family: "PTSans";
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff;
  border-color: #008851;
}

.checkbox__input:checked + .checkbox__text:after {
  content: "\e900";
  position: absolute;
  color: #ff5f5f;
  font-size: 16px;
  top: 4px;
  left: 4px;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  pointer-events: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 19px;
  color: #2c2c2c;
  line-height: 1;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  background: #f7f7f7;
  border: 2px solid #dedede;
  border-radius: 4px;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 25px 0;
  width: 100%;
  max-width: 700px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
}

.order {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}

.order__container {
  position: relative;
  z-index: 10;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.order__snow {
  position: absolute;
  z-index: 2;
}

.order__snow:nth-child(1) {
  left: 90%;
  -webkit-animation: anim 15s linear infinite;
          animation: anim 15s linear infinite;
}

.order__snow:nth-child(2) {
  left: 80%;
  -webkit-animation: anim 20s linear infinite;
          animation: anim 20s linear infinite;
}

.order__snow:nth-child(3) {
  left: 70%;
  -webkit-animation: anim 20s linear infinite;
          animation: anim 20s linear infinite;
}

.order__snow:nth-child(4) {
  left: 3%;
  -webkit-animation: anim 10s linear infinite;
          animation: anim 10s linear infinite;
}

.order__snow:nth-child(5) {
  left: 85%;
  -webkit-animation: anim 11s linear infinite;
          animation: anim 11s linear infinite;
}

.order__snow:nth-child(6) {
  left: 2%;
  -webkit-animation: anim 12s linear infinite;
          animation: anim 12s linear infinite;
}

.order__snow:nth-child(7) {
  left: 15%;
  -webkit-animation: anim 12s linear infinite;
          animation: anim 12s linear infinite;
}

.order__snow:nth-child(8) {
  left: 2%;
  -webkit-animation: anim 12s linear infinite;
          animation: anim 12s linear infinite;
}

@-webkit-keyframes anim {
  0% {
    top: -10%;
    -webkit-transform: translateX(15px) rotate(0deg);
            transform: translateX(15px) rotate(0deg);
  }

  20% {
    -webkit-transform: translateX(-15px) rotate(45deg);
            transform: translateX(-15px) rotate(45deg);
  }

  40% {
    -webkit-transform: translateX(-15px) rotate(90deg);
            transform: translateX(-15px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateX(15px) rotate(180deg);
            transform: translateX(15px) rotate(180deg);
  }

  80% {
    -webkit-transform: translateX(-15px) rotate(180deg);
            transform: translateX(-15px) rotate(180deg);
  }

  100% {
    top: 110%;
    -webkit-transform: translateX(-15px) rotate(225deg);
            transform: translateX(-15px) rotate(225deg);
  }
}

@keyframes anim {
  0% {
    top: -10%;
    -webkit-transform: translateX(15px) rotate(0deg);
            transform: translateX(15px) rotate(0deg);
  }

  20% {
    -webkit-transform: translateX(-15px) rotate(45deg);
            transform: translateX(-15px) rotate(45deg);
  }

  40% {
    -webkit-transform: translateX(-15px) rotate(90deg);
            transform: translateX(-15px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateX(15px) rotate(180deg);
            transform: translateX(15px) rotate(180deg);
  }

  80% {
    -webkit-transform: translateX(-15px) rotate(180deg);
            transform: translateX(-15px) rotate(180deg);
  }

  100% {
    top: 110%;
    -webkit-transform: translateX(-15px) rotate(225deg);
            transform: translateX(-15px) rotate(225deg);
  }
}

.order__title {
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 44px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 65px 0 5px;
  color: #008851;
}

.order__subtitle {
  display: inline-block;
  position: relative;
  width: 100%;
  font-family: inherit;
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 60px;
  color: #008851;
}

.countdown {
  max-width: 800px;
  padding: 40px 15px;
}

.order__countdown {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background: #ffffff;
  -webkit-box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
          box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
}

.countdown__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countdown__title {
  color: #ff5f5f;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
}

.countdown__time {
  color: #6600FF;
  font-size: 60px;
}

.countdown__number {
  padding: 0 15px;
}

.countdown__separator {
  color: #6600FF;
  font-size: 60px;
  line-height: 50px;
}

.countdown__text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

.order__button {
  display: block;
  width: 200px;
  font-size: 21px;
  margin: 20px auto;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  padding: 15px;
  background: #1A6647;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.order__button:hover {
  background: #008851;
}

.order__button--margin {
  margin: 0 auto;
  margin-top: 40px;
}

._icon-double-down::before {
  position: absolute;
  z-index: 10;
  right: 0;
  right: 10px;
  font-size: 20px;
  top: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #c0c0c0;
}

._icon-check::after {
  content: "\e900";
  left: 15px;
  font-size: 18px;
  position: absolute;
  z-index: 10;
  top: 10px;
  width: 16px;
  line-height: 30px;
  height: 30px;
  color: #c0c0c0;
  text-align: center;
}

.form__line {
  position: relative;
}

._icon-user::before,
._icon-phone:before {
  position: absolute;
  left: 14px;
  top: 15px;
  color: #c0c0c0;
  font-size: 18px;
  line-height: 30px;
}

.select._active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #008851;
}

.popup__close {
  position: absolute;
  padding: 22px;
}

.popup__close:hover::before {
  color: #2c2c2c;
}

._icon-close::before {
  position: absolute;
  z-index: 10;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #565656;
}

.popup__title {
  padding: 10px 0 20px;
  border-bottom: 2px solid #e5e5e5;
  margin: 0 0 25px;
  cursor: -webkit-grab;
  cursor: grab;
}

.popup__title p {
  padding: 0 20px;
  font-size: 21px;
  line-height: 27px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.popup__title p .popup__span--red {
  color: #ff5f5f;
}

.popur__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px 0 20px;
}

.popur__row form {
  width: 60%;
}

.popur__image {
  width: 40%;
  padding: 0 30px;
}

.popur__image img {
  max-width: 100%;
}

.order__button--width {
  width: 100%;
}

.form__checkbox {
  margin: 20px 0px 0px 0px;
}

.form__checkbox .checkbox {
  display: block;
  margin: 0px 0px 15px 0px;
}

.form__checkbox .checkbox:last-child {
  margin: 0px 0px 0px 0px;
}

.content {
  margin: 0px 0px 40px 0px;
  position: relative;
  z-index: 1;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
  margin-bottom: 40px;
}

.content__item {
  width: 33.333%;
  text-align: center;
  padding: 0 15px;
}

.content__item span {
  font-size: 19px;
  line-height: 21px;
  font-weight: 600;
}

.content__card {
  padding: 30px 20px;
  text-align: center;
  background-color: #e6e6e6;
  border: 2px solid #dedede;
  -webkit-box-shadow: 4px 8px 20px rgba(8, 24, 111, 0.2);
          box-shadow: 4px 8px 20px rgba(8, 24, 111, 0.2);
}

.content__icon {
  margin: 0px 0px 10px 0px;
}

.content__icon::before {
  font-size: 60px;
  line-height: 60px;
  color: #ff5f5f;
}

.content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  color: #008851;
}

.content__text::before {
  font-size: 60px;
  margin-right: 30px;
}

.content__card {
  height: 100%;
}

.popup_form form {
  max-width: 450px;
}

.popup__info {
  font-size: 16px;
  line-height: 18px;
  color: #999999;
  font-weight: 400;
  text-align: center;
  margin: 0 10px 20px;
}

@font-face {
  font-family: 'icons';
  src: url("../img/iconfonts/icons.ttf?rp9nbi") format("truetype"), url("../img/iconfonts/icons.woff?rp9nbi") format("woff"), url("../img/iconfonts/icons.svg?rp9nbi#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-check:after {
  content: "\e900";
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 30px;
  pointer-events: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-double-down:before {
  content: "\e901";
  pointer-events: none;
}

._icon-close:before {
  content: "\e902";
}

._icon-phone:before {
  content: "\e903";
  pointer-events: none;
}

._icon-user:before {
  content: "\e904";
  pointer-events: none;
}

._icon-thumbs-up:before {
  content: "\e905";
  pointer-events: none;
}

._icon-thumbs-down:before {
  content: "\e906";
  pointer-events: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767px) {
  .content__text {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    color: #008851;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .order__title {
    font-size: 35px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }
}

@media (max-width: 767px) {
  .popur__image {
    display: none;
  }

  .popup_form form {
    width: 100%;
  }

  .content__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }

  .content__item {
    width: 50%;
    margin-bottom: 30px;
  }

  .order__subtitle {
    margin: 0px 0px 40px 0px;
  }

  .order__title {
    margin-top: 40px;
  }

  .content__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content__text::before {
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  .order__title {
    font-size: 30px;
    line-height: 1;
  }

  .content__item {
    width: 100%;
  }

  .countdown__time {
    font-size: 30px;
  }

  .countdown__number {
    padding: 0 5px;
  }

  .countdown__separator {
    font-size: 30px;
    line-height: 25px;
  }

  .content {
    margin-bottom: 20px;
  }

  .countdown {
    padding: 25px 15px 15px;
  }
}